.container-pickups
{
  display: flex;
  justify-content: space-between;
}
.rectangle-pickups
{	
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 173px; 
  width: 916px;	
  border: 1px solid #979797;	
  border-radius: 3px 3px 0 3px;	
  background-color: #EFEFEF;
}
.rectangle2-pickups
{	
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 52px;	
  width: 916px;	
  border-radius: 3px 3px 0 0;	
  background-color: #1D9DEB;
}
.pickup-flex-box
{
    display: flex;
    align-items: center;
}
.time-col
{
    display: flex;
    flex-direction: column;
    border: 1px solid #979797;	
    border-radius: 3px 3px 0 3px;	
    background-color: #EFEFEF;
}